*{
    margin: 5px;
    box-sizing: border-box;
}
body{
    background-color:gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 95vh;}
header{
    background-color:cornflowerblue;
    padding: 1cm;
}
.main{
    display: flex;
    flex: 1;
}
.left{
    background-color: chocolate;
    padding: 1cm;
    text-align: center; 
    flex:1 1 100px ;   
}
main{
    background-color: beige;
    padding: 1cm ;
    flex: 5 5 150px;  
}
.right{
    background-color:chocolate;
    padding: 1cm;
    flex: 1 1 100px;
}
footer{
    background-color:seagreen;
    padding: 0.5cm;
}